@import url(http://allfont.ru/allfont.css?fonts=comic-sans-ms);

.selectize-control.multi .selectize-input [data-value] {
    padding: 4px;
    font-size: 14px;
    font-family: 'Comic Sans MS', arial;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    padding: 4px 0 0;
}

#scheduler-name::placeholder {
    font-size: 13px;
}

section {
    padding-top: 7px;
}

#scheduler-type + div {
    width: 40%;
}

button.btn {
    display: block;
    margin-left: auto;
    margin-top: 10px;
}

.calendar {
    padding-top: 50px;
}

.calendar .days-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.calendar .day {
    width: 150px;
    padding: 10px;
    margin: 1px;
    height: 120px;
    background-color: #edededd4;
    box-shadow: 0 0 1px black;
    cursor: pointer;
}

.calendar .day.old-date {
    opacity: 0.3;
}

.calendar .day.current-date {
    background-color: #4caf506e;
}

.calendar .day:hover {
    box-shadow: 0 0 6px 1px #00000059;
}

.calendar .day > .date {
    text-align: center;
    display: block;
}

.calendar .day.ng-enter {
    opacity: 0;
    height: 0;
    transition: 1s ease 0.3s;
}

.calendar .day.ng-enter-active {
    height: 120px;
    opacity: 1;
}